#browser {
  background: #f0f0f0;
  border: 1px solid #cdcdcd;
  width: 100%;
  height: 700px;
  display: block;
  border-radius: 5px;
}

#browser-frame {
  position: relative;
  height: 92.5%;
  overflow: hidden;
  padding: 50px;
}

.browser-btn {
  margin: 10px 0;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#btn-close {
  background: #c73632;
  margin-left: 10px;
  margin-right: 3px;
}

#btn-min {
  background: #ee9742;
  margin-right: 3px;
}

#btn-max {
  background: #79b559;
}

#browser-page-name {
  font-family: Comfortaa;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  display: inline-block;
}

.jina-floater-container {
  position: absolute !important;
}

.jina-floater-box {
  position: absolute !important;
}

.img-thumbnail {
  width: 30%;
}

.img-thumbnail.gif {
  width: 70%;
}

.tab-pane {
  margin: 10px;
}

pre,
code {
  white-space: pre-line;
}

.config-container {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.5em;
  height: 270px;
}

#typewriterPlaceholders {
  padding-left: 0.5em;
}

#typewriterPlaceholders li {
  list-style: none;
  margin-bottom: 0.25em;
}

.placeholder-remove-icon {
  font-size: 0.75em;
  margin-right: 1em;
  cursor: pointer;
}

.form-control::placeholder {
  opacity: 0.5;
}

/* 新增样式 */
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: url('./img/banner.png') no-repeat;
  background-size: 100% 100%;
}
.header .left {
  flex: 6;
}

.header .left .logo {
}

.header .left .title {
  font-size: 20px;
  color: #000;
}

.header .left .title_en {
  font-size: 20px;
  color: #c73632;
  margin: 1rem 0;
  width: 95%;
}

.header .left .des {
}

.header .right {
  flex: 4;
}

.right-line {
  border-right: 1px solid #ccc;
}

.row {
  margin: 0;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.container {
  padding: 0;
}
.tab-container {
    background: url("./img/tab_bg.png") no-repeat;
    background-size: 100% 100%;
}

.tab-item {
  cursor: pointer;
}

.tab-active {
  border-bottom: 2px solid red;
  font-weight: 700;
}
body {
  background-color: #f0f4f8;
}

.architecture {
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 700;
    padding: 8px 0;
}

.architecture::after{
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color:  #be847e;
}


.footer {
    background: url("./img/footer.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #0000ff;
}

#showBoxIframeBefore{
  margin-bottom:  1rem;
}
#showBoxIframe{
  background-color: #cfd3e6;
}
.tab-5-content{
  font-size: 0.875rem;
}
.community-left{
  background-color: #ffffff;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}
.community-left-title{
  font-weight: bold;
  border-bottom: 1px solid #999;
  padding: 0.4rem 0;
  margin: 0.4rem 0;
}
a.nav-link{
  color: #000;
  font-size: 0.875rem;
}
.community-left a.nav-link.active{
  color: #c73632;
  font-weight: bold;
}
.community-vision-item{
  text-align: center;
  margin: 3.5rem 0 2.5rem 0;
}
.community-vision-img{
  width: 7.5rem;
  height: 3.875rem;
  display: block;
  margin: 0 auto;
}
.community-vision-line{
  width: 5rem;
  margin-right: 2rem;
}
.community-vision-content{
  font-size: 0.875rem;
}
.project-entrance-top{
  margin: 2rem 0 2rem 1rem;
  line-height: 2rem;
}
.table-div{
  position: relative;
}
.vertical-line{
  position: absolute;
  width: 5px;
  height: 44.5rem;
  background: url("./img/smallClass/table_1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.fiist-line{
  left: 35%;
}
.second-line{
  left: 57%;
}

#project-entrance tr{
  background: url("./img/smallClass/table_2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
#project-entrance th{
  padding: 1rem;
  text-align: center;
}
#project-entrance td{
  padding: 1rem;
}
.project-entrance-bottom{
  margin: 2rem 0 2rem 1rem;
}
.project-entrance-bottom-tips{
  color: #c73632;
  font-weight: bold;
}
.project-entrance-bottom-tip{
  font-weight: bold;
}
.community-contribution{
  padding: 0 0.5rem 0 0;
}
.community-contribution-item{
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6rem;
  height: 7rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.community-contribution-item-red{
  background-color: #c73632;
}
.community-contribution-item-gray{
  background-color: #66757c;
}
.join-us{
  width: 100%;
}
.join-us-content{
  padding: 0rem;
}
.part1{
  background: url("./img/smallClass/join_1.png");
  width: 100%;
  height: 7rem;
  background-size: 100% 100%;
  position: relative;
  margin-top: 3rem;
  padding-top: 1px;
}
.part2{
  background: url("./img/smallClass/join_2.png");
  width: 100%;
  height: 20rem;
  background-size: 100% 100%;
  position: relative;
  margin-top: 3rem;
  padding-top: 1px;
  margin: 3rem 0;
  text-align: center;
}
.part2 img{
  width: 10rem;
  height: 10rem;
  margin: 1.5rem 0 0.5rem 0;
}
.part3{
  background: url("./img/smallClass/join_3.png");
  width: 100%;
  height: 8rem;
  background-size: 100% 100%;
  position: relative;
  margin-top: 3rem;
  padding-top: 1rem;
}
.part1 div, .part2 div, .part3 div{
  text-align: center;
}
.join-us-title{
  font-size: 1.5rem;
  color: #c73632;
  margin: 0.5rem 0;
}
.link-round{
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  background: url(./img/smallClass/join_5.png);
  background-repeat: round;
}
.link-round1{
  top: 1rem;
  left: 7rem;
}
.link-round2{
  top: 1rem;
  right: 7rem;
}
.link-round3{
  bottom: 1rem;
  left: 1.5rem;
}
.link-round4{
  bottom: 1rem;
  right: 1.5rem;
}
.link-round5{
  top: 1rem;
  left: 1.5rem;
}
.link-round6{
  top: 1rem;
  right: 1.5rem;
}
.link-round7{
  bottom: 1rem;
  left: 1.5rem;
}
.link-round8{
  bottom: 1rem;
  right: 1.5rem;
}
.link-round9{
  top: 1rem;
  left: 1.5rem;
}
.link-round10{
  top: 1rem;
  right: 1.5rem;
}
.link-line{
  position: absolute;
  z-index: 100;
  width: 5px;
  height: 6.5rem;
  background: url(./img/smallClass/join_6.png);
  background-repeat: round;
}
.link-line1{
  top: -4.7rem;
  left: 2rem;
}
.link-line2{
  top: -4.7rem;
  right: 2rem;
}
.link-line3{
  bottom: -4.7rem;
  left: 2rem;
}
.link-line4{
  bottom: -4.7rem;
  right: 2rem;
}
.right-content{
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}
#right_1_div{
  background: url("./img/smallClass/right_1.png");
  background-size: 100%;
  width: 100%;
  height: 4.375rem;
  line-height: 4.375rem;
  margin: 3rem 0 1rem 0;
}
#right_2_div{
  background: url("./img/smallClass/right_2.png");
  background-size: 100%;
  width: 100%;
  height: 23.75rem;  
  position: relative;
  padding-top: 20rem;  
}
#right_3_div{
  background: url("./img/smallClass/right_3.png");
  background-size: 100%;
  width: 15.624rem;
  height: 4.375rem; 
  position: absolute;
  top: 0.6rem;
  line-height: 2rem;
  cursor: pointer;
}
#right_3_div:hover{
  color: #c73632;
}
#right_4_div:hover{
  color: #c73632;
}
#right_5_div:hover{
  color: #c73632;
}
#right_6_div:hover{
  color: #c73632;
}
#right_7_div:hover{
  color: #c73632;
}
#right_8_div:hover{
  color: #c73632;
}
#right_9_div_1:hover{
  color: #c73632;
}
#right_2_div>span:hover{
  color: #c73632;
}
#right_4_div{
  background: url("./img/smallClass/right_4.png");
  background-size: 100%;
  width: 15.624rem;
  height: 4.375rem; 
  position: absolute;
  top: 5.224rem;
  line-height: 2rem;
  cursor: pointer;
}
#right_5_div{
  background: url("./img/smallClass/right_5.png");
  background-size: 100%;
  width: 5.2rem;
  height: 4.375rem; 
  position: absolute;
  top: 9.899rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
  padding-top: 1rem;
  cursor: pointer;
}
#right_6_div{
  background: url("./img/smallClass/right_6.png");
  background-size: 100%;
  width: 5.2rem;
  height: 4.375rem; 
  position: absolute;
  top: 9.899rem;
  left: 5.2rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
  padding-top: 1rem;
  cursor: pointer;
}
#right_7_div{
  background: url("./img/smallClass/right_7.png");
  background-size: 100%;
  width: 5.3rem;
  height: 4.375rem; 
  position: absolute;
  top: 9.899rem;
  left: 10.45rem;
  line-height: 1rem;
  font-size: 0.75rem;
  cursor: pointer;
}
#right_8_div{
  background: url("./img/smallClass/right_8.png");
  background-size: 100%;
  width: 15.624rem;
  height: 4.375rem; 
  position: absolute;
  top: 14.574rem;
  line-height: 2rem;
  cursor: pointer;
}
#right_9_div{
  background: url("./img/smallClass/right_9.png");
  width: 5.5rem;
  height: 18.125rem; 
  position: absolute;
  top: 0.6rem;
  right: 0;
  line-height: 2rem;
  padding-top: 2rem;  
}
#right_9_div_1,#right_9_div_2,#right_9_div_3{
  width: 5rem;
  height: 3rem;
  border: 1px solid #fff;
  margin: 1rem auto;
  line-height: 1rem;
  font-size: 0.8rem;
  padding-top: 0.5rem;  
}
#right_9_div_1{
  cursor: pointer;
}
#right_2_div>span{
  font-size: 2rem;
  cursor: pointer;
}
#right_10_div{
  background: url("./img/smallClass/right_10.png");
  background-size: 100%;
  width: 100%;
  height: 4.375rem;
  line-height: 2rem;
  margin: 1rem 0 2rem 0;
  cursor: pointer;
}
#right_introduction{
  margin-bottom: 3rem;
}
#canvas-wraper{
  text-align: center;
}

